page-feed {
    h2.feed_title {
        color: red;
        font-weight: bold;
    }
    p.feed_date {
        color: blue;
    }
    .btn-comment {
        text-align: center;
    }
    .btn-like {
        text-align: center;
    }
}
